:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.image-wrapper {
  width: 70%;
  height: 70%;
  max-width: 800px;
  max-height: 800px;
}

img[apzImage] {
  position: absolute;
  transition: transform linear 0.125s;
}
